<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Miraculous - Online Music Store Html Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Music">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <!-- Bootstrap CSS từ CDN -->
    <head th:replace="fragments/head :: head"></head>
</head>
<body>
<!----Loader Start---->
<!--<div class="ms_loader">-->
<!--    <div class="wrap">-->
<!--        <img th:src="@{/images/loader.gif}" alt="">-->
<!--    </div>-->
<!--</div>-->
<!----Main Wrapper Start---->
<div class="ms_main_wrapper">
    <!---Side Menu Start--->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!--main content -->
    <div class="ms_content_wrapper padder_top80">

        <!--header-->
        <div th:replace="fragments/header :: header"></div>

        <!--banner-->
        <div class="ms-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="ms_banner_img">
                            <img th:src="@{/images/banner.png}" alt="" class="img-fluid">
                        </div>
                        <div class="ms_banner_text">
                            <h1>This Month’s</h1>
                            <h1 class="ms_color">Record Breaking Albums !</h1>
                            <p>Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger, Endless<br> Things, The Heartbeat Stops, Walking Promises, Desired Games and many more...</p>
                            <div class="ms_banner_btn">
                                <a href="#" class="ms_btn">Listen Now</a>
                                <a href="#" class="ms_btn">Add To Queue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--recently played music-->
        <!-- Recently Played Music (3 bài hát) -->
        <div class="ms_rcnt_slider">
            <div class="ms_heading">
                <h1>Recently Played</h1>
                <span class="veiw_all"><a href="#">view more</a></span>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Bài 1 -->
                    <div class="swiper-slide">
                        <div class="ms_rcnt_box">
                            <div class="ms_rcnt_box_img">
                                <img src="images/music/r_music1.jpg" alt="">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_more_icon">
                                        <img src="images/svg/more.svg" alt="">
                                    </div>
                                    <ul class="more_option">
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                    </ul>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Dream Your Moments (Duet)</a></h3>
                                <p>Ava Cornish & Brian Hill</p>
                            </div>
                        </div>
                    </div>
                    <!-- Bài 2 -->
                    <div class="swiper-slide">
                        <div class="ms_rcnt_box">
                            <div class="ms_rcnt_box_img">
                                <img src="images/music/r_music2.jpg" alt="">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_more_icon">
                                        <img src="images/svg/more.svg" alt="">
                                    </div>
                                    <ul class="more_option">
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                    </ul>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Until I Met You</a></h3>
                                <p>Ava Cornish & Brian Hill</p>
                            </div>
                        </div>
                    </div>
                    <!-- Bài 3 -->
                    <div class="swiper-slide">
                        <div class="ms_rcnt_box">
                            <div class="ms_rcnt_box_img">
                                <img src="images/music/r_music3.jpg" alt="">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_more_icon">
                                        <img src="images/svg/more.svg" alt="">
                                    </div>
                                    <ul class="more_option">
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                    </ul>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Gimme Some Courage</a></h3>
                                <p>Ava Cornish & Brian Hill</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next slider_nav_next"></div>
            <div class="swiper-button-prev slider_nav_prev"></div>
        </div>

        <!--weekly top 15-->
        <div class="ms_weekly_wrapper">
            <div class="ms_weekly_inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ms_heading">
                            <h1>weekly top 15</h1>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 padding_right40">
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										01
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song1.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Until I Met You</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										02
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song2.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Walking Promises</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										03
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song3.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Gimme Some Courage</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										04
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song4.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Desired Games</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										05
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song5.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Dark Alley Acoustic</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 padding_right40">
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										06
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song6.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Walking Promises</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										07
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song7.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Endless Things</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box ms_active_play">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										08
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song8.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <div class="ms_bars">
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Dream Your Moments</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										09
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song9.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Until I Met You</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										10
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song5.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Gimme Some Courage</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										11
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song2.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Dark Alley Acoustic</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										12
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song11.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">The Heartbeat Stops</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										13
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song12.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">One More Stranger</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										14
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song13.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Walking Promises</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>
                        <div class="ms_weekly_box">
                            <div class="weekly_left">
                                    <span class="w_top_no">
										15
									</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="images/weekly/song14.jpg" alt="" class="img-fluid">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="images/svg/play.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">Endless Things</a></h3>
                                        <p>Ava Cornish</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">
									</span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---Featured Artists Music--->

        <!----Add Section Start---->

        <!----New Releases Section Start---->

        <!----Featured Albumn Section Start---->

        <!----Top Genres Section Start---->

        <!----Add Section Start---->

        <!----Live Radio Section Start---->
    </div>

    <!---main footer--->
    <div th:replace="fragments/footer :: footer"></div>

    <!----Audio Player Section---->
<!--    <div th:replace="fragments/musicPlayer :: musicPlayer"></div>-->
</div>
<div th:replace="fragments/modalPopUp :: authModal"></div>

<!--script-->
<!--<head th:replace="fragments/scripts :: scripts"></head>-->

 Load jQuery từ CDN (trước Bootstrap)
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Load Bootstrap JS từ CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Các file JS khác -->
<script type="text/javascript" th:src="@{/js/plugins/swiper/js/swiper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/player/jplayer.playlist.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/player/jquery.jplayer.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/player/audio-player.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/player/volume.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/nice_select/jquery.nice-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/scroll/jquery.mCustomScrollbar.js}"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>



<!--<script>
    date picker
</script>-->
<!-- jQuery và jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $("#dob").datepicker({
            dateFormat: "dd/mm/yy", // Định dạng ngày
            changeMonth: true, // Hiển thị chọn tháng
            changeYear: true, // Hiển thị chọn năm
            yearRange: "1900:2025", // Giới hạn năm từ 1900 đến 2025
            maxDate: new Date() // Không cho chọn ngày trong tương lai
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#btn_register").click(function () {
            var user = {
                email: $("#email").val(),
                password: $("#password").val(),
                fullname: $("#fullname").val(),
                dob: $("#dob").val(),
                photo: "https://res.cloudinary.com/dhee9ysz4/image/upload/v1741076584/ypj7xyshwjq9zhuazfq9.webp",
                isActive: true
            };

            $.ajax({
                url: "http://localhost:8085/api/users/register",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(user),
				success: function (response, textStatus, xhr) {
				    console.log("Response:", response);
				    console.log("Status Code:", xhr.status);

				    if (xhr.status === 200 && response.code === 200) { //
				        console.log("User registered successfully");

				        // Ẩn modal đăng ký và hiển thị modal OTP
				        $("#myModal").modal("hide");

						sessionStorage.setItem("registeredEmail", response.result.email);

				        setTimeout(function () {
				            if (typeof bootstrap !== "undefined") {
				                var otpModal = new bootstrap.Modal(document.getElementById("otpModal"));
				                otpModal.show();
				            } else {
				                $("#otpModal").modal("show");
				            }
				        }, 500);
				    } else {
				        alert("Registration failed: " + response.message);
				    }
				},

                error: function (xhr) {
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        alert("Error: " + xhr.responseJSON.message);
                    } else {
                        alert("An unexpected error occurred.");
                    }
                }
            });
        });
    });
</script>

<script>
	$(document).ready(function () {
		$(document).ready(function () {
		    $("#btn_verify").click(function () {
		        var otp = $("#otp").val();
		        var email = sessionStorage.getItem("registeredEmail"); // Lấy email từ sessionStorage

		        if (!email) {
		            alert("Error: No registered email found. Please register again.");
		            return;
		        }

		        var requestData = {
		            otp: otp,
		            email: email
		        };

		        $.ajax({
		            url: "http://localhost:8085/api/users/active-account",
		            type: "POST",
		            contentType: "application/json",
		            data: JSON.stringify(requestData),
		            success: function (response, textStatus, xhr) {
		                console.log("Response:", response);
		                console.log("Status Code:", xhr.status);

		                if (xhr.status === 200 && response.code === 200) {
		                    alert("Registration successful! Please log in.");
		                    sessionStorage.removeItem("registeredEmail"); // Xóa email sau khi kích hoạt thành công
		                    location.reload(); // Reload lại trang
		                } else {
		                    alert("Error: " + response.message);
		                }
		            },
		            error: function (xhr) {
		                if (xhr.responseJSON && xhr.responseJSON.message) {
		                    alert("Error: " + xhr.responseJSON.message);
		                } else {
		                    alert("An unexpected error occurred.");
		                }
		            }
		        });
		    });
		});


	});

</script>

<script>
	$(document).ready(function () {
	    $("#btnLogin").click(function (e) {
	        e.preventDefault(); // Ngăn chặn reload form

	        let email = $("#emailLogin").val().trim();
	        let password = $("#passwordLogin").val().trim();

	        if (!email || !password) {
	            alert("Please enter email and password.");
	            return;
	        }

	        $.ajax({
	            url: "http://localhost:8085/api/users/sign-in",
	            type: "POST",
	            contentType: "application/json",
	            data: JSON.stringify({ email: email, password: password }),
	            success: function (response) {
	                if (response.code === 200) {
	                    let result = response.result;


	                    sessionStorage.setItem("token", result.token);
	                    sessionStorage.setItem("user", JSON.stringify(result));


	                    alert("Login successful! Redirecting...");
	                    location.reload();
	                } else {
	                    alert("Login failed: " + response.message);
	                }
	            },
	            error: function (xhr) {
	                let errorMessage = xhr.responseJSON ? xhr.responseJSON.message : "Unknown error!";
	                alert("Error: " + errorMessage);
	            }
	        });
	    });
	});


</script>

<script>
	$(document).ready(function () {
	    // Ban đầu ẩn profileBtn
	    $("#profileBtn").hide();

	    // Lấy thông tin user và token từ sessionStorage
	    var token = sessionStorage.getItem("token");
	    var user = sessionStorage.getItem("user");

	    if (token && user) {
	        var userData = JSON.parse(user);

	        // Ẩn div ms_top_btn chứa các nút đăng ký & đăng nhập (không tính profileBtn)
	        $(".ms_top_btn:not(#profileBtn)").hide();

	        // Cập nhật text cho profileBtn với fullname của user
	        $("#profileBtn a span").text(userData.fullName);

	        // Hiển thị profileBtn
	        $("#profileBtn").show();
	    }
	});


</script>



</body>
</html>