<div th:fragment="header" class="ms_header">
    <div class="ms_top_left">
        <div class="ms_top_search">
            <input type="text" class="form-control" placeholder="Search Music Here..">
            <span class="search_icon">
                <img th:src="@{/images/svg/search.svg}" alt="">
            </span>
        </div>
        
    </div>
    <div class="ms_top_right">
        <div class="ms_top_lang" id="uploadBtn">
            
			<a class="ms_btn" th:href="@{/upload/index}">
			                <span>Upload Music</span>
							
			            </a>
        </div>
        <div class="ms_top_btn">
            <a href="javascript:;" class="ms_btn reg_btn" data-bs-toggle="modal" data-bs-target="#myModal">
                <span>register</span>
            </a>

            <a href="javascript:;" class="ms_btn login_btn" data-bs-toggle="modal" data-bs-target="#myModal1">
                <span>login</span>
            </a>

        </div>
		
		<div class="ms_top_btn" id="profileBtn">
		            <a href="javascript:;"  class="ms_btn reg_btn" style="width: 150px; display: inline-block; text-align: center;" data-bs-toggle="modal" data-bs-target="#infoModal">
		                <span></span>
		            </a>


		        </div>
    </div>
</div>

