<th:block th:fragment="authModal">
    <div class="ms_register_popup">
        <!-- Register Modal -->
        <div id="myModal" class="modal centered-modal" role="dialog">
            <div class="modal-dialog register_dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa_icon form_close"></i>
                    </button>
                    <div class="modal-body">
                        <div class="ms_register_img">
                            <img th:src="@{/images/register_img.png}" alt="" class="img-fluid" />
                        </div>
                        <div class="ms_register_form">
<!--                            <h2 th:text="#{register.title}">Register / Sign Up</h2>-->
                            <h2 th:text="abc">Register / Sign Up</h2>
                            <div class="form-group">
<!--                                <input type="text" th:placeholder="#{register.name}" class="form-control">-->
                                <input type="text" th:placeholder="abc" class="form-control">
                                <span class="form_icon">
                                    <i class="fa_icon form-user" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="form-group">
<!--                                <input type="text" th:placeholder="#{register.email}" class="form-control">-->
                                <input type="text" th:placeholder="abc" class="form-control">
                                <span class="form_icon">
                                    <i class="fa_icon form-envelope" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="form-group">
<!--                                <input type="password" th:placeholder="#{register.password}" class="form-control">-->
                                <input type="password" th:placeholder="abc" class="form-control">
                                <span class="form_icon">
                                    <i class="fa_icon form-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="form-group">
<!--                                <input type="password" th:placeholder="#{register.confirmPassword}" class="form-control">-->
                                <input type="password" th:placeholder="abc" class="form-control">
                                <span class="form_icon">
                                    <i class="fa_icon form-lock" aria-hidden="true"></i>
                                </span>
                            </div>
<!--                            <a th:href="@{/register}" class="ms_btn" th:text="#{register.registerNow}">Register Now</a>-->
                            <a th:href="@{/register}" class="ms_btn" th:text="abc">Register Now</a>
                            <p>
<!--                                <span th:text="#{register.alreadyAccount}">Already Have An Account?</span>-->
                                <span th:text="abc">Already Have An Account?</span>
<!--                                <a href="#myModal1" data-toggle="modal" class="ms_modal hideCurrentModel" th:text="#{register.loginHere}">Login Here</a>-->
                                <a href="#myModal1" data-toggle="modal" class="ms_modal hideCurrentModel" th:text="abc">Login Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login Modal -->
        <div id="myModal1" class="modal centered-modal" role="dialog">
            <div class="modal-dialog login_dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa_icon form_close"></i>
                    </button>
                    <div class="modal-body">
                        <div class="ms_register_img">
<!--                            <img th:src="@{/images/register_img.png}" alt="" class="img-fluid" />-->
                            <img th:src="@{/images/register_img.png}" alt="" class="img-fluid" />
                        </div>
                        <div class="ms_register_form">
<!--                            <h2 th:text="#{login.title}">Login / Sign In</h2>-->
                            <h2 th:text="abc">Login / Sign In</h2>
                            <div class="form-group">
<!--                                <input type="text" th:placeholder="#{login.email}" class="form-control">-->
                                <input type="text" th:placeholder="abc" class="form-control">
                                <span class="form_icon">
                                    <i class="fa_icon form-envelope" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="form-group">
<!--                                <input type="password" th:placeholder="#{login.password}" class="form-control">-->
                                <input type="password" th:placeholder="abc" class="form-control">
                                <span class="form_icon">
                                    <i class="fa_icon form-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="remember_checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
<!--                                    <span th:text="#{login.rememberMe}">Keep me signed in</span>-->
                                    <span th:text="abc">Keep me signed in</span>
                                </label>
                            </div>
<!--                            <a th:href="@{/profile}" class="ms_btn" target="_blank" th:text="#{login.loginNow}">Login Now</a>-->
                            <a th:href="@{/profile}" class="ms_btn" target="_blank" th:text="abc">Login Now</a>
                            <div class="popup_forgot">
<!--                                <a th:href="@{/forgot-password}" th:text="#{login.forgotPassword}">Forgot Password?</a>-->
                                <a th:href="@{/forgot-password}" th:text="abc">Forgot Password?</a>
                            </div>
                            <p>
<!--                                <span th:text="#{login.noAccount}">Don't Have An Account?</span>-->
                                <span th:text="abc">Don't Have An Account?</span>
<!--                                <a href="#myModal" data-toggle="modal" class="ms_modal1 hideCurrentModel" th:text="#{login.registerHere}">Register Here</a>-->
                                <a href="#myModal" data-toggle="modal" class="ms_modal1 hideCurrentModel" th:text="abc">Register Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
